@use '../../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  box-shadow:  0 0 calc(var(--base) / 2) rgba($color: #000000, $alpha: 0.1);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

.hide{
  display: none;
}