@import '~payload/scss';

.dashboard .before-dashboard {
	margin-top: base(1);
	margin-bottom: base(0.5);

	&__banner {
		& h4 {
			margin: 0;
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap:20px;
		& button {
		margin: 0; 
		font-size: 1.2em;
		}



		& h4 {
			margin: 0;
		}
	}

	& a:hover {
		opacity: 0.85;
	}
}
