@use '../../../_css/queries.scss' as *;

.footer {
  padding: calc(var(--base) * 2) 0;
  background-color: var(--theme-elevation-100);
  color: var(--theme-elevation-1000);

  @include small-break {
    padding: calc(var(--base) * 2) 0;
    }
}

:global([data-theme="dark"]) {
  .footer {
    background-color: var(--theme-elevation-50);
    color: var(--theme-elevation-1000);
  }
}

.main{
  display: flex;
  flex-flow: column;
  gap: 20px; 
  align-items: center;
  justify-content: space-between;
  text-align: center;
   @include small-break {
   gap: 0;
    }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
   @include small-break {
    justify-content: center;
    align-items: center;
    }
}
.copyright{
  display: flex;
  gap: 0px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.col1{
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.socials
{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 150px;
}

.nav {
  display: flex;
  gap: calc(var(--base) / 4) ;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
    text-align: center;
  }

}


.hide{
  display: none;
}

